<%= @answer.inspect %>
<br><br><hr>
<% if @answer.correct == true %>
<h1 style="color: green";>Parabéns! você acertou! \o/</h1>
<% else %>
<h1 style="color: red";>Infelizmente você errou! :(</h1>
<% end %>